
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Live ReservationList</h1>

<div class="container">
    
    <div class="row p-1">
        <div class="col-12">
            <ul id="reservation-list"></ul>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js"></script>